/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito:wght@300;800&family=Roboto+Mono:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// personal palette
$blue-munsell: #0085a1;
$cerulean: #006b86;
$midnight-green: #00526c;
$moonstone: #04e0e0;
$dark-cyan: #008b8b;
$davys-gray: #5a5856;
$battleship-gray: #949799;
$eerie-black: #242728;
$black: #000000;
$platinum: #eaeaea;
$white: #ffffff;

// base colors
$navbar-bg: $blue-munsell;
$navbar-fg: $black; 
$navbar-hl: $white; 
$body-bg: $eerie-black;
$body-color: $platinum;
$link-color: $dark-cyan; //
$code-block-border-left:$dark-cyan;
$mermaid-edge-color: $blue-munsell;
$mermaid-font-family: 'Montserrat';
$mermaid-node-bg-color: $davys-gray;
// verbatim code
$code-bg: $platinum;
$code-color: $eerie-black;

/*-- scss:rules --*/




/* ID selectors */

#map-size {
  width: 100%;
  height: 350px;
}

.figure-caption {
  color: $platinum;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}


/* ELEMENT SELECTORS */

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 16px;
}

/* # */
h1 {
  font-size: 27px;
  font-weight: bold;
  color:$platinum;
}

/* ## */
h2 {
  font-size: 26px;
  font-weight: bold;
  color:$platinum;
}

/* ### */
h3 {
  font-size: 25px;
  font-weight: bold;
  color:$platinum;
}

/* #### */
h4 {
  font-size: 18px;
  font-weight: bold;
  color:$platinum;
}

/* Projects articles header */
h5, h6 {
  font-size: 18px;
  font-weight: bold;
  color:$platinum;
}

// justifying text
.justify {
  text-align: justify !important
}

/* CLASS SELECTORS */

// listing card styling
.card {
  background-color: $eerie-black;
  border-color: $davys-gray;

}

// btn styling
.btn {
  color: $platinum;
  background-color: $eerie-black;
  border-color: $davys-gray;
  border-radius: 20px;
  font-size: 15px;
}

// button hover styling
.btn:hover {
  color: $black;
  background-color: $blue-munsell;
  border-color: $davys-gray;
}


// navbar logo
.navbar-brand img { 
  max-height: 40px;
  width: auto;
}

// navbar rounding borders
.navbar {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

// nav footer rounding borders
.nav-footer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}

// nav link pages
// .nav-link {
//   font-weight: bold;
// }

// blockquote styling
.blockquote {
  background-color: $platinum;
  font-style: italic;
  font-weight: 300;
  border-color:$blue-munsell;
  color:$eerie-black;
  border-radius: 15px;
  font-size: 15px;
  opacity: 70%;
}

//callout-note styling

.callout-note {
  font-style: italic;
  font-size: 15px;
}

// social media icons animation

$timing        : 265ms;
$iconColor     : $blue-munsell;
$accent        : $eerie-black;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}


.social-container {
    width: 400px;
    margin: 4vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.6em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 17px;
        left: 18px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
}

.cool-link {
  position: relative;
  text-decoration: none;
  color: #04e0e0;
  font-weight: bold;
  transition: color 0.3s ease;
}

.cool-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.cool-link:hover {
  color: white;
}

.cool-link:hover::before {
  transform: scaleX(1);
}