/*-- scss:defaults --*/

// Import fonts (define mainfont in _quarto.yml)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito:wght@300;800&family=Roboto+Mono:wght@400;700&display=swap');


// Colors
$cyan : #0085A1;
$cream: #EAEAEA;
$white : #ffffff;
$dark-gray: #5A5856;
$gray: #64605f;
$light-gray: #949799;
$black: #000000;
$shark: #242728;

// Base document colors
$navbar-bg: $cyan;
$navbar-fg: $black; 
$navbar-hl: $white; 
$body-bg: $cream;
$body-color: $black;
$footer-bg: $cyan;
$footer-fg: $black; 
$link-color: $cyan;
$code-block-border-left:$cyan;


/*-- scss:rules --*/

/* ELEMENT SELECTORS */

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 15px;
}

h1, h2, h3, h4 {
  font-size: 22px;
  font-weight: 600;
  color:$black;
}

h5, h6 {
  font-size: 15px;
  font-weight: 600;
}

// justifying text
.justify {
  text-align: justify !important
}

/* CLASS SELECTORS */

// listing card styling
.card {
  background-color: $cream;
  // border-color: $dark-gray;
}

// btn styling
.btn {
  color: $dark-gray;
  background-color: $cream; //$light-sage-green;
  border-color: $dark-gray;
  border-radius: 20px;
}

// button hover styling
.btn:hover {
  color: $black;
  background-color: $cyan;
  border-color: $dark-gray;
}

// button text size (landing page)
.about-link-text { 
  font-size: 15px;
  border-radius: 20px;
}

// button icon size (landing page)
.bi { 
  font-size: 15px;
}

.navbar-brand img { 
  max-height: 40px;
  width: auto;
}
